.abc
.abc

- var classes = ['foo', 'bar', 'baz']
a(class=classes)
|
|
//- the class attribute may also be repeated to merge arrays
a.bang(class=classes, class=['bing'])
|
|
- const currentUrl = '/about'
a(class={ active: currentUrl === '/' }, href="/") Home
|
|
a(class={ active: currentUrl === '/about' }, href="/about") About
