div(class="abc")
div(class="abc")

- var classes = ['foo',  'bar',   'baz']
a(class=  classes)
|
|
//- the class attribute may also be repeated to merge arrays
a.bang(class=classes  class=[ 'bing'])
|
|
- const currentUrl = '/about'
a(class={active: currentUrl  === '/'}  , href= '/' ) Home
|
|
a(class={ active:  currentUrl === '/about'} href='/about') About

a(href="index.html")#id.class Text
a(href="index.html").class#id Text
a(href="index.html")#id Text
a(href="index.html").class Text

div(id="id") Text
div(class="class") Text
#id Text
.class Text
