.test(foo, bar="123", v-for="x of quux")
  | baz {{ quux }}

list(
  v-for="({ longLongProp, longLongProp, anotherLongLongProp, yetAnotherLongLongProp }, index) of longLongLongLongLongLongLongLongList"
)
