a(v-on:click="  doSomething ") ...
a(@click="  doSomething ") ...
a(@[event]="  doSomething ") ...

a(v-on:click="  doSomething =  !doSomething") ...
a(@click="  doSomething =  !doSomething") ...
a(@[event]="  doSomething =  !doSomething") ...
