div
  table
    tbody
      tr
        td
          //- Vue
          a(
            :href='Nav.currentProject().repo(getRepository(pipeline).slug).buildNoContext()'
          )
          //- Angular
          a(
            [href]='Nav.currentProject().repo(getRepository(pipeline).slug).buildNoContext()'
          )
          - const interpolation = 'code'
          //- Vue
          a(:href=`interpolated-${interpolation}`)
          //- Angular
          a([href]=`interpolated-${interpolation}`)
