.baz
  .baz(foo="Lorem Ipsum is simply dummy text of the printing and typesetting industry.", bar="Lorem Ipsum is simply dum")
    .boo(foo="Lorem Ipsum is simply dummy text of the printing and typesetting industry.", bar="Lorem Ipsum is simplyd")
