script(src='javascripts/echarts.js')
script(src='javascripts/jquery-3.6.0.js')
link(href='stylesheets/bootstrap.css', rel='stylesheet')
script(src='javascripts/bootstrap.bundle.js')

#main(style='width: 100%; height: 1000px')
script.
    var chartDom = document.getElementById("main");
    var myChart = echarts.init(chartDom, null, { renderer: "canvas" });
    let option;
    fetch("data/chResults.json")
      .then(data => data.json())
      .then(json => {
          console.log(json);
      });
