a#main-link
#content
div#content

span.testclass(id="testid")
span#testid.testclass
span.testclass#testid
span.testclass#testid(class="testclass2")

v-text-field(:label="$t('search.label')", id="search", prepend-inner-icon="search", v-model="search", single-line)
