a#main-link
#content
div#content

span.testclass(id="testid")
span.testclass(id="testid", class="ab cd")
span.testclass(id="testid", class="ab cd", other="attribute")
span.testclass(class="ab", id="testid", class="cd", other="attribute")
span.testclass(id="testid", class="ab cd", other="attribute" with="many", many="attributes", in="this line")
span#testid.testclass
span.testclass#testid
span.testclass#testid(class="testclass2")

v-text-field(:label="$t('search.label')", id="search", prepend-inner-icon="search", v-model="search", single-line)
