doctype html
html
  head
    script(type="application/ld+json").
      {
      	"@context": "http://schema.org",
      	"@type": "Website",
      	"name": "Example",
      	"headline": "Example of problem",
      	"url": "https://example.com/"
      }

  body
    div Hello World
