---
name: YAML test
tags:
- this
- squence
- should
- be
- indented
lets:
  have:
    us:
      some: nesting
      and: some more
    flow style not supported:
      {key: value, bar: baz}
    not even arrays: [1,2,3,4,5]
---
doctype
html
  head
    title This is a !{name}!

  body
    h1 Hello world!
    h2= name

    div( id='example' )
