input.bar.baz.foo
input.bar.baz.foo(
  readonly,
  name="test-input",
  type="password",
  value="Hello World"
)
.foo bar
.foo(bar="baz") Hello World
.foo
  .bar baz
.baz
.bar foo
- var code = "ma-2 px-1";
div(class=code)
