input(class="bar baz foo")
input(readonly, class="bar baz foo", name="test-input", type="password", value="Hello World")
div(class="foo") bar
div(bar="baz" class="foo") Hello World
div(class="foo")
  div(class="bar") baz
div(class="baz")
div(class="bar") foo
- var code = "ma-2 px-1";
div(class=code)
