doctype html
<html>

body
  p Indenting the body tag here would make no difference.
  p HTML itself isn't whitespace-sensitive.
  ul
    li Item A
    li Item B
    li Item C
  <ul>
    li Item A
    li Item B
    li Item C
  </ul>

</html>
