<!DOCTYPE html>
<html>

body
  p Indenting the body tag here would make no difference.
  <p>HTML itself isn't whitespace-sensitive.</p>
  ul
    li Item A
    li Item B
    li Item C
  <ul>
    <li>Item A</li>
    li Item B
    <li>Item C</li>
  </ul>

</html>
