a.button
a.button
a.button.flat
a.button.flat
a.button.flat.icon
div
.content
.content.text-success
.content.text-success
.content.text-success.bg-dark
.content
.content.text-success
.content.text-success
.content.text-success.bg-dark
.content.text-success.bg-dark
.content.aaa.ad.text-success.bg-dark(class="#ad")
- const classes = ['foo', 'bar', 'baz']
a.bing.fizz(class=classes)
a.bang.fizz.bib(class=classes, class=['bing'])
