a.button
a(class="button")
a.button.flat
a.button(class="flat")
a.button(class="flat icon")
div
div.content
div.content.text-success
div.content(class="text-success")
div.content(class="text-success bg-dark")
.content
.content.text-success
.content(class="text-success")
.content(class="text-success bg-dark")
.content(class="text-success   bg-dark")
.content.aaa.ad(class="text-success    #ad  bg-dark")
- const classes = ['foo', 'bar', 'baz']
a(class=classes, class="bing", class="fizz")
a.bang(class=classes, class=['bing'], class="fizz bib")
