// just some paragraphs
//just some paragraphs
//just some paragraphs
p foo
p bar
  //- will not output within markup
  //-will not output within markup
  //-will not output within markup
  p foo
  p bar
div
  //-
    Comments for your template writers.
    Use as much text as you want.
  //
    Comments for your HTML readers.
    Use as much text as you want.
    Use as much text as you want.
    Use as much text as you want.
div
  //- Indented comment
  span Test
    // Indented comment
    span Test

  //- Indented comment
  span Test
