span(style="color: red")
span(style="color: red")
span(style="color: red; background-color: yellow")
span(style="color: red; background-color: yellow")
span(
  style="color: red; background-color: yellow; font-size: 12px; font-weight: 400; line-height: 20px"
)
