span(style="color:red")
span(style="color:red;")
span(style="color:red;background-color:yellow")
span(style="color:red;background-color:yellow;")
span(style="color:red;background-color:yellow;font-size:12px;font-weight:400;line-height:20px;")
span(style='font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji')
span(style='quotes: "«" "»" "‹" "›";')
span(style='quotes: ";" ";" ";" ";";')
