span Text
  br/ more text

div
  span Text
    br/ more text with very long text text text text text text text text text text
    br/ and even more text text text text text text text text text text text text
