doctype html
html
	head
	body
		h1#title Lets get pugging!
		p I'm a paragraph
		p.
			I'm a multi-line paragraph!
			And this is the second line.
		p.para.
			This paragraph has class!
		.firstDiv A div with a class.
		#secondDiv A div with an id.
