div
  span.aui-lozenge(
    :class=`{
      "aui-lozenge-inprogress": pipeline.status == PipelineStatus.Running,
      "aui-lozenge-error":      pipeline.status == PipelineStatus.Failed
    }`
  )

  span.aui-lozenge(
    :class='[isActive ? "some-class-name" : "some-other-class-name"]'
  )

  span.aui-lozenge(
    :class='[isActive ? "some-class-name" : "some-other-class-name"]'
  )

  span.aui-lozenge(
    :class='[isActive ? "some-class-name" : "some-other-class-name"]'
  )

  - const interpolation = 'some-class-name'
  span.aui-lozenge(
    :class=`[ isActive ? ${interpolation} : "some-other-class-name" ]`
  )
