mixin lorem(paragraphes = 1)
  - let n = 0;
  while n < paragraphes
    p(class=`lorem__block--${n++}`).lorem__block
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam recusandae quidem voluptates veniam beatae fugit aliquam aut, saepe sit vero error delectus ipsa nam atque, pariatur dicta, magnam mollitia tenetur?
