// one
html
	head
		style(type='text/css').
			.card-body {
				background-color: white;
				color: #2c2c2c;
				font-size: 0.9rem;
				padding: 25px;
			}		
		block styles
	body

// two
block content
	style(type='text/css').
		.entry__name {
			text-align: center;
			margin: 0 0 60px;
		}	
	h1.entry__title
		b Credentialing Packet

// three
block content
	style(type='text/css').
		.entry__generalinfo-list {
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
		}
	
	h2.title General Information
