input(type="checkbox", checked)
|
|
input(type="checkbox", checked)
|
|
input(type="checkbox", checked=false)
|
|
input(type="checkbox", checked=true.toString())
|
|
input(type="checkbox", checked=true && "checked")
