a(v-bind="{  ...$attrs  }") ...
a(v-bind:href="  url ") ...
a(:href="  url ") ...
a(:[key]="  url ") ...

div(:value=attributes['data-value'])
div(:value=attributes['"data-value"'])
div(:value=attributes['"\'data-value\'"'])
div(:value='"\'data-value\'"')