div(id="id" attribute="value")
div(class="class" attribute="value")
div(id="id" class="class" attribute="value")
div(class="class" id="id" attribute="value")
button(type="button")
button(type="submit", (click)="play()")
hello-framework([name]="name", [version]="version", (release)="onVersionRelease()")
nav-component(locale-relative-redirect="true" highlight="home" pin="false")
.wrapper(data-nav=true data-next="Next" data-prev="Prev" data-slides=4 data-arr=[1,2,3,4,5,6] data-obj={att: 1, attr2: 2})
