div
  .wrapper-1(attributes1="foo" :attribute2="bar"  attribute3   =   "something too long to keep on one line")
  //- prettier-ignore
  .wrapper-2(attributes1="foo" :attribute2="bar"  attribute3   =   "something too long to keep on one line")
  .wrapper-3(attributes1="foo" :attribute2="bar"  attribute3   =   "something too long to keep on one line")
  //- prettier-ignore
  div
    .wrapper-4(attributes1="foo" :attribute2="bar"  attribute3   =   "something too long to keep on one line")
.wrapper-5(attributes1="foo" :attribute2="bar"  attribute3   =   "something too long to keep on one line")
