include ./mixins/all.pug

doctype basic
html
 include ./partials/head.pug
 body
  include ./partials/header.pug
  include ./partials/main.pug
  include ./partials/footer.pug

  include ./partials/scripts.pug
