- const getRepository = () => ({ slug: "slug" })
- const Nav = { currentProject: () => ({ repo: () => ({ buildNoContext: () => "no-context" }) }) }

div
  table
    tbody
      tr
        td
          a(:href='Nav.currentProject().repo(getRepository(pipeline).slug).buildNoContext()')
