div
  div(class={
    a: true,
    b: false,
  })
  div(class={ a: true, b: false, })
    div(class={
      a: true,
      b: false,
    })
    div(
      class={
        aaaaaaaaaaaaaaaaaaaaaaaaaaaa: true,
        bbbbbbbbbbbbbbbbbbbbbbbbbbbb: false,
      }
    )
