div#id.class(attribute="value") div with id attr test
div.class(attribute="value" attr2) div with class attr test
div#id.class(attribute="value") div with id and class test
div#id#litId.litClass.class(attribute="value") div with literals and atters id & class test
div#attrId#myId.myClass.attrClass no div with literals and attrs
div#litId(attr="value")
div#srcIdSecond.srcClassFirst(attr="value") even more text
div#srcIdFirst.srcClassSecond
div.justClass
div#justId
div.wrapper(
  attr="78 char input line, will be 81 with div"
  my-props="[1, 2, 3]"
)
div#longLine.test4wrapping(
  attr="there is a lot of text here, it should wrap it up"
  data-text="even more text here"
)
