div.class(id="id" attribute="value") div with id attr test
div(class="class" attribute="value" attr2) div with class attr test
div(id="id" class="class" attribute="value") div with id and class test
div#litId.litClass(class="class" id="id" attribute="value") div with literals and atters id & class test
.myClass#myId(id="attrId" class="attrClass") no div with literals and attrs
#litId(attr="value")
.srcClassFirst#srcIdSecond(attr="value") even more text
#srcIdFirst.srcClassSecond
.justClass
#justId
.wrapper(attr="78 char input line, will be 81 with div" my-props="[1, 2, 3]")
#longLine.test4wrapping(attr="there is a lot of text here, it should wrap it up" data-text="even more text here")
