div
  | Click here:
  a(href="mailto:hi@gmail.com")
    | hi@gmail.com
  | to get in touch with us
  div
    | Click here:
    a(href="mailto:hi@gmail.com")
      | hi@gmail.com
    | to get in touch with us
    div
      | Click here:
      a(href="mailto:hi@gmail.com")
        | hi@gmail.com
      | to get in touch with us
