//-
  a

  b

-
  var value;

  value = 'hi';

//-
  a

p hi

-
  var value = 'hi';

p= value

div
  //-
    a

    b

    -
    var value;

    value = 'hi';

    //-
    a

    p hi

    -
    var value = 'hi';

    p= value

div
  div
    h1.
      Lorem
    p.
      Lorem1
      #[code Lorem2].
      #[code Lorem3].
      #{ Lorem4 }
