.length-test(attributes1="foo" :attribute2="bar" attribute3="filler...........")
.length-test(attributes1="foo" :attribute2="bar" attribute3="filler............")

button(type="submit", :style="style", @click="play()", disabled)

nav-component(locale-relative-redirect="true", highlight="home", pin="false")

.wrapper(data-nav=true data-next="Next" data-prev="Prev" data-slides=4 data-arr=[1,2,3,4,5,6] data-obj={att: 1, attr2: 2} :style="style" @click="play()")
